:root {
  --loader-side: 35vh;
  --loader-dot-side: calc(var(--loader-side) / 5);
  --loader-dot-margin: calc(var(--loader-side) / 10);
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  background: rgb(55, 71, 79);
}

.viewer {
  width: 100vw;
  height: 0;
  position: fixed;
  opacity: 0;
}

.viewer.loaded {
  height: 100vh;
  opacity: 1;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: var(--loader-side);
  height: var(--loader-side);
}

.lds-grid div {
  position: absolute;
  width: var(--loader-dot-side);
  height: var(--loader-dot-side);
  border-radius: 50%;
  background: rgb(183, 28, 28);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: var(--loader-dot-margin);
  left: var(--loader-dot-margin);
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: var(--loader-dot-margin);
  left: calc((var(--loader-dot-margin) * 2) + var(--loader-dot-side));
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: var(--loader-dot-margin);
  left: calc((var(--loader-dot-margin) * 3) + (var(--loader-dot-side) * 2));
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: calc((var(--loader-dot-margin) * 2) + var(--loader-dot-side));
  left: var(--loader-dot-margin);
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: calc((var(--loader-dot-margin) * 2) + var(--loader-dot-side));
  left: calc((var(--loader-dot-margin) * 2) + var(--loader-dot-side));
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: calc((var(--loader-dot-margin) * 2) + var(--loader-dot-side));
  left: calc((var(--loader-dot-margin) * 3) + (var(--loader-dot-side) * 2));
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: calc((var(--loader-dot-margin) * 3) + (var(--loader-dot-side) * 2));
  left: var(--loader-dot-margin);
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: calc((var(--loader-dot-margin) * 3) + (var(--loader-dot-side) * 2));
  left: calc((var(--loader-dot-margin) * 2) + var(--loader-dot-side));
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: calc((var(--loader-dot-margin) * 3) + (var(--loader-dot-side) * 2));
  left: calc((var(--loader-dot-margin) * 3) + (var(--loader-dot-side) * 2));
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.toolbar {
  margin: 30px;
  padding: 10px 20px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid white;
}

.toolbar > Button {
  height: 45px;
  width: 150px;
  border-radius: 7px;
  border: none;
  background: whte;
  color: rgb(55, 71, 79);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.toolbar > Button:last-child {
  margin-left: 20px;
}

.toolbar > Button.selected {
  color: white;
  background: rgb(183, 28, 28);
}